/* CSS Styles */

/* Clear Out Predefined Test */
* {
  margin: 0;
  padding: 0;
}

/* Global Styles */
.centerme {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

/* Page Styles */
a {
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', 'Calibri', sans-serif;
  white-space: nowrap;
  font-size: 0.9em;
}

code {
  margin: 0 2em;
}

h1, h2, h3, h4 {
  color: rgba(137, 121, 20, 1);
  font-family: 'Josefin Sans', 'Book Antiqua', serif;
  font-weight: bold;
  margin: 1em 0 0.2em;
  overflow: hidden;
  white-space: nowrap;
}

header {
  font-family: 'Josefin Sans', 'Calibri', sans-serif;
  font-size: 0.7em;
  margin: 3em 1em 0;
  text-transform: lowercase;
}

li {
  margin: 0.5em 3em;
}

main {
  top: 5%;
  margin: 0em 19em;
  margin-bottom: 3%;
}

nav {
  display: block;
  float: left;
  margin: 0em 6.5em;
  position: fixed;
  top: 5%;
}

nav a {
  color: rgba(96, 85, 14, 1);
  font-family: 'Lato', 'Calibri', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

p {
  font-size: 1em;
  line-height: 1.4em;
}

ul {
  font-size: 1em;
}

/* Special */
.circle {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2.5em;
  color: #fff;
  display: block;
  height: 5em;
  line-height: 5em;
  text-align: center;
  width: 5em;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.circle:hover {
  background: rgba(137, 121, 20, 0.9);
}

.circle:hover a {
  color: #fff;
}

#sidebar {
  background: url(https://static.pexels.com/photos/9248/nature-summer-sun-leaf-large.jpg) no-repeat center;
  background-size: cover;
  border-right: 5em solid rgba(26, 26, 26, 1);
  bottom: 0;
  float: left;
  height: 100%;
  overflow: hidden;
  position: fixed;  
  width: 180px;
  z-index: -1;
}