/* CSS Styles */

/* Clear Out Predefined Test */
* {
  margin: 0;
  padding: 0;
}

/* Global Styles */
.centerme {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

/* Page Styles */
h1, h2, h3, h4 {
  color: rgba(137, 121, 20, 1);
  font-family: 'Josefin Sans', 'Book Antiqua', serif;
  font-weight: bold;
  margin: 0.5em 0;
  overflow: hidden;
  white-space: nowrap;
}


header {
  font-family: 'Josefin Sans', 'Calibri', sans-serif;
  font-size: 0.8em;
  margin: 3em 1em;
  text-transform: lowercase;
}

main {
  margin: 0em 20em;
}

nav {
  font-family: 'Josefin Sans', 'Calibri', sans-serif;
}

p {
  font-family: 'Josefin Sans', 'Calibri', sans-serif;
  white-space: nowrap
}


/* Special */
#sidebar {
  background: url(https://static.pexels.com/photos/9248/nature-summer-sun-leaf-large.jpg) no-repeat center;
  background-size: cover;
  border-right: 5em solid rgba(26, 26, 26, 1);
  bottom: 0;
  float: left;
  height: 100%;
  overflow: hidden;
  position: fixed;  
  width: 180px;
}